.tc-table{
  .el-table__body tr.current-row{
    background-color: #bad4ee !important;
  }
  .el-table__body tr.current-row:hover{
    background-color: #bad4ee !important;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, 
  .el-table__body tr.current-row>td{
    background-color: #bad4ee !important;
  }
  .el-table__empty-block {
    min-height: 35px;
  }
  td {
    padding: 6px 0px !important;
  }
  thead{
    th{
      background-color: #E4E7ED;
      color: #303133;
      padding: 5px 0px !important;
    }
  }
}

